@page
@model Prelab5.Pages.HttpModel
@{
}

<h1 class="text-center">Welcome to my Razor Page!</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" class="text-center">
                <button type="submit" class="btn btn-primary">Submit POST Request</button>
            </form>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-6">
            <form method="get" class="text-center">
                <button type="submit" class="btn btn-secondary">Submit GET Request</button>
            </form>
        </div>
    </div>
</div>

